.circles-box {
  overflow: hidden;
  height: 500px;
  width: 250px;
  position:fixed;
}

.extended-circle {
	border-radius:  0px 250px 250px 0px;
  background-color: #FFFFFF;
  height: 500px;
  width: 250px;
  margin: auto auto;
  position: absolute;
}

.outer-circle {
	border-radius:  0px 175px 175px 0px;
  background-color: #FFFFFF;
  height: 350px;
  width: 175px;
  margin: auto auto;
  position: absolute;
  top: 75px;
}

.inner-circle {
	border-radius:  0px 100px 100px 0px;
  background-color: #FFFFFF;
  height: 200px;
  width: 100px;
  margin: auto auto;
  position: absolute;
  top: 75px;
}

.cards, .next {
  display: block;
  padding: 20px 0;
}

.inner-circle.inner-color {
  background-color: #F58A41;
}

.outer-circle.outer-color {
  background-color: #0797C1;
}

.extended-circle.extended-color {
  background-color: #10475D;
}

h1 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
  /*-webkit-text-stroke: 1px #979797;*/
}

h2 {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.explanation {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
}

.add-button-panel {
  text-align: center;
}

#add-member-btn {
  border: solid 2px #979797;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #e78f51;
  background-color: white;
  text-transform: capitalize;
}

#nextbutton, #submit-member-btn {
  margin: 0;
  background-color: #4697be;
  height: 60px;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  border-radius: 0px;
}

#nextbutton {
  width: 100%;
  margin: 0px 0px 50px 0;
}

#submit-member-btn {
  margin: 0;
  width: 100%;
}

div.next {
  text-align: center;
}

.cards {
  display: block;
  text-align: left;
}

.cards .card {
  width: 100%;
  display: block;
}

.cards .card .card-img {
  width: auto;
  display: block;
  float: none;
  text-align: center;
}

.cards .card .card-content {
  width: auto;
  display: block;
}
