th, td {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

th:first-child, td:first-child {
  text-align: left;
}

.row-icon {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.header-icon {
  width: 50px;
  height: 50px;
}
