h1 {
  font-size: 28px;
  margin-bottom: 28px;
}

h3 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 22px;
}

h5 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}

hr {
  margin: 28px 0px;
  width: 100%;
}

div.instructions {
  margin: 18px 0;
}

.enrollsearchdiv {
  margin: 18px 0;
}

.enrollsearch {
  height: 50px;
}

button.enrollsearch {
  padding: 0px;
}

input[type=text], input[type=date], input[type=tel], input[type=email] {
  font-size: 18px;
  height: 50px;
}

input.form-control {
  border-radius: 0px;
}

label {
  font-size: 18px;
}

.terms {
  background-color: #fafafa;
  overflow-y: scroll;
  padding: 1em 2em;
  margin: 1em 0 2em 0;
  height: 300px;
}

.row.sexOptions {
  padding: 0 1em;
}

.sexOptionsElement {
  padding: 0.5em;
  max-width: 300px;
  min-width: 200px;
}

.confirmPatientDetails{
  background-color: #fafafa;
  padding: 1em 2em;
  margin: 1em 0 2em 0;
}

.terms p, .confirmPatientDetails p {
  margin-bottom: 1em;
}
