h3 {
  font-size: 24px;
}

div.instructions {
  margin-top: 1em;
  margin-bottom: 1em;
}

.enrollsearchdiv {
  margin-top: 1em;
  margin-bottom: 1em;
}

.enrollsearch {
  height: 50px;
}

button.enrollsearch {
  padding: 0px;
}

input[type=text], input[type=date], input[type=tel], input[type=email] {
  font-size: 18px;
  height: 50px;
}

input.form-control {
  border-radius: 0px;
}

.site-btn.fullwidth, .site-btn2.fullwidth {
  width: 100%;
}

label {
  font-size: 18px;
}

.terms {
  background-color: #fafafa;
  overflow-y: hidden;
  padding: 1em 2em;
  margin: 1em 0;
}

.terms.expand {
  height: auto;
}

.terms.shrink {
  height: 150px;
}
