h1 {
  font-size: 28px;
  margin-bottom: 28px;
}

h3 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 22px;
}

hr {
  margin: 28px 0px;
  width: 100%;
}

div.instructions {
  margin: 18px 0;
}

.enrollsearchdiv {
  margin-top: 18px;
  margin-bottom: 18px;
}

.enrollsearch {
  height: 50px;
}

button.enrollsearch {
  padding: 0px;
}

input[type=text], input[type=date], input[type=tel], input[type=email] {
  font-size: 18px;
  height: 50px;
}

input.form-control {
  border-radius: 0px;
}

.site-btn.fullwidth, .site-btn2.fullwidth {
  width: 100%;
}

label {
  font-size: 18px;
}

.terms {
  background-color: #fafafa;
  overflow-y: scroll;
  padding: 18px 36px;
  margin: 18px 0 36px 0;
}

.terms.expand {
  height: auto;
}

.terms.shrink {
  height: 150px;
}

#OpenImgUpload {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: #d8d8d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
