.panel {
  border: 0;
  box-shadow: none;
}

th, td {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

.table.permissions-table>tbody>tr>td {
  vertical-align: middle;
}

.table .row-icon-block {
  display: inline-block;
}

.table .row-name-block {
  display: inline-block;
  margin: 10px 0 0 0;
  width: 110px;
}

@media only screen and (max-width: 991px) {
  .table .row-icon-block {
    text-align: center;
    display: block;
    margin: 5px;
  }

  .table .row-icon {
    margin: auto;
  }

  .table .row-name-block, .table .row-name-block .row-name {
    text-align: center;
    display: block;
    margin: auto;
  }
}

th:first-child, td:first-child {
  text-align: left;
}

.row-icon {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.header-icon {
  width: 50px;
  height: 50px;
}

th p {
  font-weight: 500;
}

p {
  margin: 0;
}

p.header-label{
  font-weight: 700;
}

.row-name {
  display: inline;
}

th.special {
  text-align: center;
}

table#permissions-table {
  margin: 50px 0;
  border: 2px solid #d8d8d8;
  border-radius: 0;
}

#permissions-table tbody > tr:hover:not(:first-child) {
  background-color: #fafafa;
}

.explanation {
  font-size: 24px;
  text-align: center;
  color: #4a4a4a;
}

td {
  height: 80px;
}

nav.navbar {
  margin-bottom: 0;
}

.permission-checkbox {
  height: 60px;
  width: 60px;
  outline: none;
  padding: 0;
  display: inline-block;
  background-color: transparent;
  border: 2px solid #d8d8d8;
  border-radius: 10px;
}

.permission-checkbox:hover,
.permission-checkbox.checked.inner:hover,
.permission-checkbox.checked.outer:hover,
.permission-checkbox.checked.extended:hover {
  background-color: #ffffff;
}

.permission-checkbox.checked.inner {
  background: url("../img/checkmark-inner.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.permission-checkbox.checked.outer {
  background: url("../img/checkmark-outer.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.permission-checkbox.checked.extended {
  background: url("../img/checkmark-extended.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
