.panel {
  border: 0;
  box-shadow: none;
}

th, td {
  text-align: center;
  vertical-align: middle;
  width: 25%;
}

.table.permissions-table>tbody>tr>td {
  vertical-align: middle;
}

.table .row-icon-block {
  display: inline-block;
}

.table .row-name-block {
  display: inline-block;
  margin: 10px 0 0 0;
  width: 110px;
}

@media only screen and (max-width: 991px) {
  .table .row-icon-block {
    text-align: center;
    display: block;
    margin: 5px;
  }

  .table .row-icon {
    margin: auto;
  }

  .table .row-name-block, .table .row-name-block .row-name {
    text-align: center;
    display: block;
    margin: auto;
  }
}

th:first-child, td:first-child {
  text-align: left;
}

.row-icon {
  width: 50px;
  height: 50px;
  margin: 0 15px;
}

.header-icon {
  width: 50px;
  height: 50px;
}

th p {
  font-weight: 500;
}

p {
  margin: 0;
}

p.header-label{
  font-weight: 700;
}

.row-name {
  display: inline;
}

th.special {
  text-align: center;
}

button.btn {
  margin: 0 10%;
  background-color: #4697be;
  height: 100px;
  font-family: Helvetica;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  border: none;
  margin: 0px 0px 50px 0;
  border-radius: 0 !important;
}

.button-div {
  width: 100%;
}

table.table {
  margin: 50px 0;
  border: 1px solid darkgrey;
}

h2 {
  font-family: Helvetica;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2.2px;
  text-align: center;
  color: #000000;
  /*-webkit-text-stroke: 1px #979797;*/
}

.explanation {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
}

td {
  height: 80px;
}

.permission-checkbox {
  height: 100%;
  width: 100%;
  border: 0;
  outline: none;
  padding: 0;
  display: block;
}

.permission-checkbox.checked.inner {
  background: url("../img/checkmark-inner.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.permission-checkbox.checked.outer {
  background: url("../img/checkmark-outer.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}

.permission-checkbox.checked.extended {
  background: url("../img/checkmark-extended.png");
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center;
}
