.circlesheaderdiv {
  text-align: center;
}

.graybackground {
  background-color: #fafafa;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.card-spacer {
  background-color: #ffffff;
  height: 1em;
}

img.columnimage {
  width: 50%;
  min-width: 150px;
}

.summary-card {
  background-color: #ffffff;
  margin: 15px 0;
  box-shadow: 2px 2px 5px #eaeaea;
}


h1 {
  font-family: Helvetica;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
  /*-webkit-text-stroke: 1px #979797;*/
}

h2 {
  font-family: Helvetica;
  font-size: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  text-align: center;
  color: #000000;
}

.explanation {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1.5px;
  text-align: center;
  color: #4a4a4a;
}


.cards {
  display: block;
  text-align: left;
  padding: 0;
}

.cards .card {
  width: 100%;
  display: block;
  background-color: #fafafa;
  margin: 0;
}

.cards .card .card-img {
  width: auto;
  display: block;
  float: none;
  text-align: center;
}

.cards .card .card-content {
  width: auto;
  display: block;
}
