.circlesheaderdiv {
  text-align: center;
}

.graybackground {
  background-color: #fafafa;
  width: 100%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

img.columnimage {
  width: 50%;
  min-width: 150px;
}

.summary-card {
  background-color: #ffffff;
  margin: 15px 0;
  box-shadow: 2px 2px 5px #eaeaea;
}
